node-red/cardioia_dashboard.flow.json
[
  {
    "id": "hivemq-broker",
    "type": "mqtt-broker",
    "name": "HiveMQ Public",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": "",
    "credentials": {}
  },
  {
    "id": "ui-tab-paciente1",
    "type": "ui_tab",
    "name": "Paciente 1",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui-group-monitor",
    "type": "ui_group",
    "name": "Monitoramento CardioIA",
    "tab": "ui-tab-paciente1",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "flow-cardioia",
    "type": "tab",
    "label": "CardioIA - Dashboard",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt-in-esp32",
    "type": "mqtt in",
    "z": "flow-cardioia",
    "name": "Receber Dados ESP32",
    "topic": "cardioia/paciente/dados",
    "qos": "0",
    "datatype": "auto",
  "broker": "hivemq-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 170,
    "y": 140,
    "wires": [["json-parse"]]
  },
  {
    "id": "json-parse",
    "type": "json",
    "z": "flow-cardioia",
    "name": "Converter para Objeto",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 410,
    "y": 140,
    "wires": [["fn-extract-bpm", "fn-extract-temp", "fn-alerts", "dbg-json"]]
  },
  {
    "id": "fn-extract-bpm",
    "type": "function",
    "z": "flow-cardioia",
    "name": "Extrair BPM",
    "func": "msg.topic = 'BPM';\nmsg.payload = Number(msg.payload.bpm || 0);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 650,
    "y": 100,
    "wires": [["ui-chart-bpm"]]
  },
  {
    "id": "ui-chart-bpm",
    "type": "ui_chart",
    "z": "flow-cardioia",
    "name": "Gráfico: Batimentos (BPM)",
    "group": "ui-group-monitor",
    "order": 1,
    "width": "6",
    "height": "6",
    "label": "Batimentos Cardíacos (BPM)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Aguardando...",
    "dot": false,
    "ymin": "40",
    "ymax": "180",
    "removeOlder": "1",
    "removeOlderPoints": "240",
    "removeOlderUnit": "3600",
    "cutout": "0",
    "useOneColor": false,
    "decimals": 0,
    "colors": ["#1f77b4", "#aec7e8", "#ff7f0e"],
    "useOldStyle": false,
    "x": 950,
    "y": 100,
    "wires": [[], []]
  },
  {
    "id": "fn-extract-temp",
    "type": "function",
    "z": "flow-cardioia",
    "name": "Extrair Temperatura",
    "func": "msg.payload = Number(msg.payload.temp || 0);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 140,
    "wires": [["ui-gauge-temp"]]
  },
  {
    "id": "ui-gauge-temp",
    "type": "ui_gauge",
    "z": "flow-cardioia",
    "name": "Medidor: Temperatura (°C)",
    "group": "ui-group-monitor",
    "order": 2,
    "width": "6",
    "height": "6",
    "gtype": "gage",
    "title": "Temperatura Corporal",
    "label": "°C",
    "format": "{{value}}",
    "min": "30",
    "max": "45",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "37.5",
    "seg2": "39",
    "x": 960,
    "y": 140,
    "wires": []
  },
  {
    "id": "fn-alerts",
    "type": "function",
    "z": "flow-cardioia",
    "name": "Verificar Alertas (BPM)",
    "func": "const bpm = Number(msg.payload.bpm || 0);\nlet status = 'Normal';\nif (bpm > 100) status = 'Taquicardia';\nelse if (bpm > 0 && bpm < 60) status = 'Bradicardia';\nreturn { payload: status };",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 180,
    "wires": [["ui-text-status"]]
  },
  {
    "id": "ui-text-status",
    "type": "ui_text",
    "z": "flow-cardioia",
    "group": "ui-group-monitor",
    "order": 3,
    "width": "12",
    "height": "1",
    "name": "Status de Alerta",
    "label": "Status do Paciente",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 960,
    "y": 180,
    "wires": []
  },
  {
    "id": "dbg-json",
    "type": "debug",
    "z": "flow-cardioia",
    "name": "Debug JSON",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 660,
    "y": 220,
    "wires": []
  }
]
